@font-face {
    font-family: IRANSans;
    src: url('fonts/IraniaSans.ttf');
}

html{
    scroll-behavior: smooth;
}
body {
    
    direction: rtl;
    text-align: right;
    font-family: IRANSans, Tahoma, sans-serif;
    overflow: auto;
    padding: 0 0px;
    box-sizing: content-box;
}

#container1 {
    /* background-color:rgb(246, 246, 233); */
    height: 63px;
}

#container2 {
    /* background-color: lightblue; */
    height: 305px;
    /* margin-bottom: 5px; */
}

#container3 {
    background-color: rgb(248, 248, 248);
    margin-bottom: 10px;
}

#container4 {
    background-color: lightgray;
}

#container1 .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

    #container1 .logo img {
        font-size: 20px;
        width: 100px;
    }

    #container1 .logo .myListIcon {
        /* display:none; */
        /* margin-bottom: 102px; */
        line-height: 1.6;
    }

#container1 .menu {
    display: flex;
    justify-content: flex-end;
}

    #container1 .menu li {
        list-style: none;
        padding: 20px;
        /* justify-content:flex-end; */
    }

        #container1 .menu li a {
            color: rgb(51, 51, 51);
            white-space:nowrap;
        }

#container1 .login {
}

    #container1 .login  {
        background-color: rgb(243, 179, 26);
        color: rgb(255, 255, 255);
        height: 38px;
        width: 73px;
        align-items: center;
        border-radius: 24px;
        /* -webkit-box-align: center; */
        display: flex;
        justify-content: center;
        border: none;
        margin-top: 14px;
    }

        #container1 .login:hover {
            list-style: none;
            text-decoration: none;
        }

        #container1 .login span:hover {
            text-decoration: none;
        }

        #container1 .login button span {
            /* padding:20px;
    display: inline-block; */
        }



#container1 .myListIcon {
    display: none;
}



@media (max-width: 992px) {
    #container1 .menu {
        display: none;
    }

    #container1 .myListIcon {
        display: block;
    }
}

/* container2************************************************************order-background********************************************************************** */
/* 
<div class="container-fluid" id="container2">
        <!-- image -->
        <div class="order-background" >
            <img src="images/background.jpeg" alt="">
            <div id="branch-address" class="branch-address">
                <h1>تجریش</h1>
                <h2>آدرس: میدان تجریش، ضلع شمال شرقی</h2>
                <div class="branch-change" onclick="callModal()">
                    <span class="branch-change-text">تغییر مجموعه</span>
                    <span class="branch-change-downarrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>
            <div id="accept-order" class="accept-order">
                <span id="accept-order-icon" class="accept-order-icon">
                    <i class="fa fa-circle myCircle" aria-hidden="true"></i>
                </span>
                <span id="accept-order-text" class="accept-order-text">
                    سفارش می پذیریم
                </span>
                
            </div>
        </div>
    </div>

     */
#container2 .order-background {
    position: relative;
    /* چرا کانتینر این ارتفاعش 305 است و این بیرون نمی زنه؟؟ */
    height: 600px;
    width: 100%;
}

    #container2 .order-background img {
        object-fit: cover;
        width: 100%;
        height: 50%;
        opacity: .9;
    }

    #container2 .order-background .branch-address {
        font-family: IRANSans;
        display: flex;
        flex-direction: column;
        width: 630px;
        height: 160px;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 90px;
        margin-top: 47px;
        text-align: right;
        direction: rtl;
        line-height: 2.8em;
        /* background-color: aqua; */
        color: #fff;
    }

        #container2 .order-background .branch-address .branch-change {
            background-color: #fff;
            color: grey;
            width: 130px;
            padding: 5px;
            height: 40px;
            vertical-align: center;
            display: flex;
            align-items: center;
            border-radius: 7px;
            margin-right: 5px;
            line-height: 1.6;
            font-size: 1rem;
        }

            #container2 .order-background .branch-address .branch-change .branch-change-downarrow {
                margin-right: 5px;
            }

        #container2 .order-background .branch-address h1 {
            margin-right: 7px;
            /* font-size: 1.2rem; */
        }

        #container2 .order-background .branch-address h2 {
            margin-right: 7px;
            font-size: 1.1rem;
        }

    #container2 .order-background .accept-order {
        position: absolute;
        top: 220px;
        right: 0;
        font-size: 1rem;
        padding: 12px 15px;
        margin-right: 87px;
    }

    #container2 .order-background .accept-order-text {
        color: white;
        font-size: 1.1rem;
    }

    #container2 .order-background .accept-order-icon .accept-order-circle1 {
        background-color: rgb(225, 226, 222);
        animation: blinking 2s infinite;
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        /* background-image: radial-gradient(black 1px, rgb(225, 226, 222) 0); */
        /* background-size: 40px 40px; */
    }

    #container2 .order-background .accept-order-icon .accept-order-circle2 {
        background-color: darkgreen;
        animation: blinking 2s infinite;
        position: absolute;
        width: 15px;
        height: 15px;
        display: inline-block;
        transform: translate( 150%,25%);
        border-radius: 50%;
    }

    #container2 .order-background .accept-order-icon {
        /* border-radius: 50%; */
        /* animation: 1s linear 0s infinite normal none running flash; */
        /* color: rgb(30, 206, 142); */
        /*
    color:rgb(104, 117, 104);
    font-size: 1.3rem;
    /* animation: blinking 2s  linear 0s infinite normal none running ; */
        /*
    animation: blinking 2s  infinite  ;
    position:relative;
    */
    }

@keyframes blinking {

    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
    /* 50% {
        opacity: 1;
    } */
    /* 
    75% {
        opacity: 0;
    } 
        */
    /* 100% {
        opacity: 1;
    } */
}

/* <div class="modal">
            <div class="myheader">
                <h3>لطفا مجموعه مورد نظر خود را انتخاب کنید</h3>
                 <span class="close"> &times</span> 
            </div>
            <hr class="line">
            <ul class="shobeh-names">
                <li><a href="#">تجریش</a></li>
                <li><a href="#">نیاوران</a></li>
                <li><a href="#">دشت بهشت</a></li>
            </ul>
           
        </div> */
#container2 .mymodal {
    /* display: flex; */
    display: none;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* top:50%;  مرکز صفحه*/
    /* مرکز عکس */
    top: 300px;
    left: 50%;
    transform: translate( -50%,-50%);
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 470px;
    height: 400px;
    /* line-height: 1.6; */
    direction: rtl !important;
    text-align: right;
    z-index: 1;
}

    #container2 .mymodal .myheader {
        display: flex;
        /* color:red; */
    }

        #container2 .mymodal .myheader .header-title {
            font-size: 20px;
            white-space: nowrap;
        }

        #container2 .mymodal .myheader .myclose {
            /* vertical-align: center; */
            /* توجه در کانتینرش فقط همین آیتم وجود دارد. ولی برای سنتر عمود کردن، بهش فلکس دادم*********** */
            display: flex;
            align-items: center;
            font-size: 25px;
            color: rgb(51, 51, 51);
            margin-right: 5px;
        }

    #container2 .mymodal .myline {
        color: rgb(51, 51, 51);
    }

    #container2 .mymodal .shobeh-names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #container2 .mymodal .shobeh-names li {
            list-style: none;
            color: rgb(51, 51, 51);
            margin-block: 15px;
            /* line-height: 1.5; */
        }

            #container2 .mymodal .shobeh-names li a {
                color: rgb(51, 51, 51);
                font-size: 20px;
            }

/* ****************************  #container3   ****************** */
/* 
<div class="order-menu">
                            <div class="right-arrow"></div>
                            <div class="order-menu-item">
                                <img src="images/kebab.png" alt="کباب">
                                <div class="order-menu-item-title">کباب</div>
                            </div>
                            <div class="order-menu-item">
                                <img src="images/mix.png" alt="منوی ترکیبی">
                                <div class="order-menu-item-title">منوی ترکیبی</div>
                            </div>
                            <div class="order-menu-item">
                                <img src="images/apetizer.png" alt="پیش غذا">
                                <div class="order-menu-item-title">پیش غذا</div>
                            </div>
                            <div class="order-menu-item">
                                <img src="images/drink.png" alt="نوشیدنی">
                                <div class="order-menu-item-title">نوشیدنی</div>
                            </div>
                            <div class="left-arrow"></div>
</div>
*/
#container3 .order-menu {
    display: flex;
    background-color: #fff;
    border-bottom: 1px dashed rgba(51, 51, 51, .4);
}

#container3 .order-search {
    background-color: #fff;
    border-bottom: 1px dashed rgba(51, 51, 51, .4);
}


#container3 .order-menu .right-arrow {
    border-right: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    transform: translate(-5px,40px) rotate(-45deg);
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 25px;
}

#container3 .order-menu .order-menu-item {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    position: relative;
    margin: 5px 20px;
    justify-content: center;
    align-items: center;
    height: 90px;
}

    #container3 .order-menu .order-menu-item .order-menu-item-title {
        font-size: 1rem;
        /* text-align:center; */
        position: absolute;
        top: 45px;
        white-space: nowrap;
    }

        #container3 .order-menu .order-menu-item .order-menu-item-title a {
            /* list-style: none; */
        }

            #container3 .order-menu .order-menu-item .order-menu-item-title a:hover {
                /* list-style: none; */
                text-decoration: none;
            }

    #container3 .order-menu .order-menu-item img {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 5px;
        /* text-align:center; */
    }

    #container3 .order-menu .order-menu-item a {
        list-style: none;
        color: rgb(51, 51, 51);
        font-size: 13px;
    }

#container3 .order-menu .left-arrow {
    border-left: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    transform: translate( -5px, 40px) rotate(45deg);
    width: 20px;
    height: 20px;
    /* float:left; */
    /* margin */
}


.order-search input::placeholder {
    padding: 2px;
    /* margin-right:50px; */
    position: absolute;
    right: 15px;
    top: 1px;
}

.order-search {
    position: relative;
    margin-bottom: 10px;
    height: 65px;
}

    .order-search input {
        width: 60%;
        border-radius: 5px;
        /* outline:none; */
        border: 1px solid #E4E4E4;
        height: 30px;
        /*    vertical-align: center;*/
        margin-top: 15px;
        margin-right: 25px;
    }

    .order-search span i {
        position: absolute;
        right: 27px;
        top: 20px;
    }

/*  */
#container3 #kabab {
    background-color: #fff;
}

#container3 #mixed-menu {
    background-color: #fff;
}

#container3 #prefood {
    background-color: #fff;
}

#container3 #drink {
    background-color: #fff;
}



#container3 .food-title {
    color: rgb(136, 136, 136);
    font-size: 25px;
    padding: 10px;
}

#container3 .food-title-circle {
    margin-top: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 7px;
}

#container3 .food-title-icon {
    color: rgb(136, 136, 136);
    position: absolute;
    top: 50%;
    right: 50%;
    /*translate: 50% -50%;*/
    transform: translate(50%, -50%);
}

/***************/

/* 
از گرید بوت استرپ استفاده کردم
#container3 .food-container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#container3 .food-container .food{
    display:flex;
    flex-direction: column;
    flex-basis: 30%;
} */
/* 
  <div class="card .food" style="width: 18rem;">
        <p class="card-text description">
            دوسیخ کباب لقمه گوسفندی ذغالی(هر سیخ 250 گرم)،گوجه فرنگی،فلفل
            کبابی،ریحان تازه،ترشی انبه،پیاز قرمز
        </p>
        <img src="images/kebab1.png" class="card-img-top"
            alt="کباب لقمه گوسفندی شمرون">
        <div class="card-body">
            <h5 class="card-title food-title">کباب لقمه گوسفندی شمرون</h5>
            <div class="food-footer">
                <p class="card-text price">
                    650,000 تومان
                </p>
                <div class="left">
                    <span class="btn btn-primary minus-square hidden">-</span>
                    <span class="food-order-number hidden">1</span>
                    <span class=" btn btn-primary plus-square  ">+</span>
                </div>
            </div>
        </div>
    </div> */
.mybootstrap-row-style {
    /* overflow-x: auto; */
}

#container3 .food {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228,228,228);
    /* rgb(243, 179, 26); */

    direction: rtl;
    position: relative;
    transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px;
    margin: 5px;
    /*width: 252px !important;*/
    min-width: 265px;
}

    #container3 .food.added-to-basket {
        border: 1px solid rgb(243,179,26);
    }

.hidden {
    display: none;
}

#container3 .food .description {
    opacity: 0;
    position: absolute;
    top: 35px;
    background-color: #fff;
    height: 150px;
    font-size: 16px;
    padding: 1px 20px;
    line-height: 2;
    text-align: justify;
    /*    background-color:lightgreen;*/
    width: 95%;
    /*    white-space:nowrap;*/
}

#container3 .food img {
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

#container3 .food:hover {
    .description

{
    opacity: 0.79;
    transition: all 0.45s ease;
    transform: translate(0px, -8px);
    cursor: pointer;
}

}

#container3 .food .food-title {
    white-space: nowrap;
    text-align: right;
    margin: 0px 0px 5px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 22px;
    padding-right: 0px;
    color: rgb(136, 136, 136);
}


#container3 .food .food-footer {
    display: flex;
    justify-content: space-between;
}

    #container3 .food .food-footer > .price {
        text-align: right;
        font-size: 15px;
    }

    #container3 .food .food-footer .minus-square {
        background-color: rgb(243,179,26);
        color: black;
        border-color: none !important;
    }

        #container3 .food .food-footer .minus-square.hidden {
        }

    #container3 .food .food-footer .food-order-number {
    }

    #container3 .food .food-footer .plus-square {
        background-color: #fff;
        color: #000;
        font-size: 15px;
        border: 1px solid rgb(243,179,26);
    }

        #container3 .food .food-footer .plus-square.pressed {
            background-color: rgb(243,179,26);
            color: black;
        }

/* <div class="left">
        <span class="btn btn-primary minus-square  ">-</span>
        <span class="food-order-number  ">1</span>
        <span class=" btn btn-primary plus-square  pressed">+</span>
    </div> */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #container3 {
        /* width:1200px;
        width:95%;*/
        width: 85%;
    }

        #container3 .food {
            /*font-size: 1.1rem;*/
        }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*#container3 .sabade-kharid {
        display: block;
    }*/
}

@media (min-width: 992px) {
    #container1 .menu {
        display: flex;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* #container3 .sabade-kharid {
        display: none;
    }*/
}

/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*#container3 .sabade-kharid {
        display: none;
    }*/
}

@media (max-width: 576px) {
    /*#container3 .sabade-kharid {
        display: none;
    }*/
}


/************************/
#container3 .sabade-kharid {
}

#container3 #sabad-container {
    border: 1px solid rgb(228, 228, 228);
    /* padding: 10px; */
    margin: 11px auto 10px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    /* transform: translateZ(0px); */
    position: sticky;
    top: 10px;
}
/*
                    <h3 class="sabad-header">
                        <span class="title">سبد خرید  <span class="sabad-header-number"> <strong>(3)</strong>  </span> </span>
                       
                       <span>  <svg class="icon"*/
#sabad-container .sabad-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    /* border: 1px solid rgb(228, 228, 228); */
}

    #sabad-container .sabad-header .title {
        font-size: 20px;
        font-weight: 700;
    }

        #sabad-container .sabad-header .title .sabad-header-number {
            font-size: 1.3rem;
            font-weight: 600;
        }

    #sabad-container .sabad-header .icon {
    }


#sabad-container .order-food {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
}

    #sabad-container .order-food .title-and-price {
    }

        #sabad-container .order-food .title-and-price .title {
            font-size: 20px;
            font-weight: 700;
        }

        #sabad-container .order-food .title-and-price .price {
            font-size: 16px;
        }

    #sabad-container .order-food .number {
    }

        #sabad-container .order-food .number .minus-square {
            background-color: #fff;
            color: #000;
            font-size: 15px;
            border: 1px solid rgb(243, 179, 26);
        }

        #sabad-container .order-food .number .food-order-number {
        }

        #sabad-container .order-food .number .plus-square {
            background-color: #fff;
            color: #000;
            font-size: 15px;
            border: 1px solid rgb(243, 179, 26);
        }

#sabad-container .sabad-footer {
    border: 1px solid rgb(228, 228, 228);
}

    #sabad-container .sabad-footer .tax {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

        #sabad-container .sabad-footer .tax .tax-title {
            font-weight: 500;
        }

        #sabad-container .sabad-footer .tax .tax-cost {
            font-size: 16px;
        }

    #sabad-container .sabad-footer .total-cost {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        font-weight: 700;
    }

        #sabad-container .sabad-footer .total-cost .title {
        }

        #sabad-container .sabad-footer .total-cost .total-cost-cost {
        }

    #sabad-container .sabad-footer .footer-text {
        font-weight: 700;
        font-size: 1rem;
        display: block;
        color: rgb(243, 179, 26);
        cursor: pointer;
        outline: none;
        border: none;
        margin: 5px auto;
        padding: 10px;
        background: rgb(248,248,248);
    }

    #sabad-container .sabad-footer .footer-do-div {
        background: rgb(243, 179, 26);
        padding: 12px;
        text-align: center;
        align-items: center;
        /* vertical-align: center;*/
        width: 90%;
        margin: 5px auto;
        border-radius: 5px;
    }
/*tamase-telephoni    تماس تلفنی   ******************* ******************************************/
#tamase-telephoni .tamase-telephoni {
    width: auto;
    height: 68px;
    right: 20px;
    bottom: 20px;
    /*  width: 200px;
    height: 100px;*/
    border-radius: 30px;
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
    right: 10px;
    /* bottom: 60px;
    text-align: center;*/
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    background: rgb(38, 211, 124);
    gap: 40px;
    padding: 0px 15px;
}
/*@media (max-width: 767px) {
    #tamase-telephoni .tamase-telephoni {
        width: auto;
        height: 48px;
        right: 20px;
        bottom: 20px;
    }
}*/
/*#container4   ----------------------------------------------------#container4= footer---------------------------#container4*/
#footer {
}

.footer {
    background: url('images/footer.jpeg') repeat-x rgb(61, 38, 31);
    text-align: center;
    color: rgb(255, 255, 255);
    direction: rtl;
    padding-bottom: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
}

#footer .footer-div1 {
    padding: 20px;
    font-size: 20px;
}

    #footer .footer-div1 p span a {
        text-decoration: none;
        color: rgb(243, 179, 26);
    }

#footer .footer-divmiddle {
    padding: 20px;
    display: flex;
    flex-direction: column;
/*    align-items: flex-end;*/
justify-content:flex-end;

}

    #footer .footer-divmiddle .top {
        margin: 5px 5px;
        display:flex;
    }

        #footer .footer-divmiddle .top a img {
            margin: 0px 5px;
            vertical-align: middle;
            width: 16px;
            height: 16px;
        }


    #footer .footer-divmiddle .bottom {
        /*  display: inline-block;
    max-width: 130px;
    margin: 0px 2px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;*/
        display:flex;

    }
        /*
     <div class="bottom">
                        <a title="iOS app" href="#" class="bottom-a1">
                            <span class="sibche">
                                <img class="sibche-img" src="images/sibche.png" alt="sibche">
                            </span>
                        </a>
                        <a title="android app" href="#" class="bottom-a2">
                            <span class="bazar">
                                <img class="bazar-img" src="images/bazar.png" alt="bazar">
                            </span>
                        </a>
                        
                    </div>
*/
        #footer .footer-divmiddle .bottom .bottom-a1 {
        }

        #footer .footer-divmiddle .bottom .bottom-a2 {
        }

        #footer .footer-divmiddle .bottom a {
            margin: 0px 3px;
        }


            #footer .footer-divmiddle .bottom a .sibche {
            }

            #footer .footer-divmiddle .bottom a .bazar {
            }

            #footer .footer-divmiddle .bottom a span {
            }

                #footer .footer-divmiddle .bottom a span .sibche-img {
                }

                #footer .footer-divmiddle .bottom a span .bazar-img {
                }

                #footer .footer-divmiddle .bottom a span img {
                    background: black;
                    width: 150px;
                    height: 50px;
                }






        #footer .footer-divmiddle .bottom .sibche {
            width: 200px;
            height: 50px;
            background-image: url('images/sibche.png');
        }

        #footer .footer-divmiddle .bottom .bazar {
            width: 200px;
            height: 50px;
            background-image: url('images/bazar.png');
        }

#footer .footer-div3 {
    padding: 20px;
}

    #footer .footer-div3 .social-media-icons {
    }

        #footer .footer-div3 .social-media-icons nav img {
            /*        color: rgb(243, 179, 26) !important;
        background-color:transparent !important;*/
            margin: 0px 5px;
            width: 40px;
            height: 50px;
        }

        #footer .footer-div3 .social-media-icons .facebook {
        }

        #footer .footer-div3 .social-media-icons .instagram {
        }

        #footer .footer-div3 .social-media-icons .telegram {
        }

        #footer .footer-div3 .social-media-icons .whatsapp {
        }

    #footer .footer-div3 .eNamad {
        background-image: url('images/enamad.png');
        width: 200px;
           height:150px;
        background-repeat: no-repeat;
        float: left;
        margin: 20px 60px;
    }
